.footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50px;
  background: rgb(38 38 64 / 25%);
  border-radius: 20px 20px 0px 0px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 -8px 32px rgba(0, 0, 0, 0.2);
  display: flex;
  place-items: center;
  justify-content: center;
  gap: 40px;
  color: white;
  animation: birth 0.5s alternate ease-in;
  z-index: 100;
}

.footer a {
  scale: 1.1;
  color: white;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@media only screen and (max-width: 650px) {
  .footer {
    display: none;
    animation: vanishDown 0.5s alternate ease-in;
  }
}

@keyframes birth {
  0% {
    bottom: -50px;
    filter: blur(20px);
  }

  100% {
    bottom: 0px;
  }
}

@keyframes vanishDown {
  0% {
    display: flex;
    bottom: 0;
    opacity: 1;
  }

  100% {
    filter: blur(20px);
    display: none;
    bottom: -50px;
    opacity: 0;
  }
}
